In [32]:
from sqlalchemy import create_engine, inspect, MetaData, Table

In [40]:
engine = create_engine('mysql://shukur:naruto2311232@localhost/datacamp')
engine.table_names()

['census', 'data', 'international_debt']

### Loading a csv into database

In [8]:
import pandas as pd

In [16]:
with open('international_debt.csv', 'r') as file:
    data_df = pd.read_csv(file)
data_df.to_sql('international_debt', con=engine, index=True, index_label='id', if_exists='replace')

In [41]:
%load_ext sql

In [14]:
%sql mysql://shukur:naruto2311232@localhost/datacamp

### 1. The World Bank's international debt data

In [42]:
%%sql

SELECT * 
FROM international_debt
LIMIT 10;

 * mysql://shukur:***@localhost/datacamp
10 rows affected.

[(0, 'Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', 72894453.7),
 (1, 'Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', 53239440.1),
 (2, 'Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', 61739336.9),
 (3, 'Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', 49114729.4),
 (4, 'Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', 39903620.1),
 (5, 'Afghanistan', 'AFG', 'PPG, multilateral (AMT, current US$)', 'DT.AMT.MLAT.CD', 39107845.0),
 (6, 'Afghanistan', 'AFG', 'PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', 23779724.3),
 (7, 'Afghanistan', 'AFG', 'PPG, multilateral (INT, current US$)', 'DT.INT.MLAT.CD', 13335820.0),
 (8, 'Afghanistan', 'AFG', 'PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', 100847181.9),
 (9, 'Afghanistan', 'AFG', 'PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', 72894453.7)]

### 2. Finding the number of distinct countries

In [43]:
%%sql
SELECT DISTINCT(COUNT(country_name)) AS total_distinct_countries
FROM international_debt;

 * mysql://shukur:***@localhost/datacamp
1 rows affected.

[(2357,)]

### 3. Finding out the distinct debt indicators

In [44]:
%%sql
SELECT DISTINCT(indicator_code) AS distinct_debt_indicators 
FROM international_debt
ORDER BY distinct_debt_indicators;

 * mysql://shukur:***@localhost/datacamp
25 rows affected.

[('DT.AMT.BLAT.CD',),
 ('DT.AMT.DLXF.CD',),
 ('DT.AMT.DPNG.CD',),
 ('DT.AMT.MLAT.CD',),
 ('DT.AMT.OFFT.CD',),
 ('DT.AMT.PBND.CD',),
 ('DT.AMT.PCBK.CD',),
 ('DT.AMT.PROP.CD',),
 ('DT.AMT.PRVT.CD',),
 ('DT.DIS.BLAT.CD',),
 ('DT.DIS.DLXF.CD',),
 ('DT.DIS.MLAT.CD',),
 ('DT.DIS.OFFT.CD',),
 ('DT.DIS.PCBK.CD',),
 ('DT.DIS.PROP.CD',),
 ('DT.DIS.PRVT.CD',),
 ('DT.INT.BLAT.CD',),
 ('DT.INT.DLXF.CD',),
 ('DT.INT.DPNG.CD',),
 ('DT.INT.MLAT.CD',),
 ('DT.INT.OFFT.CD',),
 ('DT.INT.PBND.CD',),
 ('DT.INT.PCBK.CD',),
 ('DT.INT.PROP.CD',),
 ('DT.INT.PRVT.CD',)]

### 4. Totaling the amount of debt owed by the countries

In [45]:
%%sql
SELECT 
    ROUND(SUM(debt)/1000000, 2) AS total_debt
FROM international_debt;

 * mysql://shukur:***@localhost/datacamp
1 rows affected.

[(3079734.49,)]

### 5. Country with the highest debt

In [46]:
%%sql
SELECT 
    country_name, 
    SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1;

 * mysql://shukur:***@localhost/datacamp
1 rows affected.

[('China', 285793494734.2)]

### 6. Average amount of debt across indicators¶

In [47]:
%%sql
SELECT 
    indicator_code AS debt_indicator,
    indicator_name,
    AVG(debt) AS average_debt
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt
LIMIT 10;

 * mysql://shukur:***@localhost/datacamp
10 rows affected.

[('DT.INT.PROP.CD', 'PPG, other private creditors (INT, current US$)', 34250651.23518519),
 ('DT.DIS.PROP.CD', 'PPG, other private creditors (DIS, current US$)', 81135160.7),
 ('DT.INT.MLAT.CD', 'PPG, multilateral (INT, current US$)', 136230719.2451613),
 ('DT.INT.PCBK.CD', 'PPG, commercial banks (INT, current US$)', 156647613.0559524),
 ('DT.INT.BLAT.CD', 'PPG, bilateral (INT, current US$)', 164093285.6090164),
 ('DT.DIS.PCBK.CD', 'PPG, commercial banks (DIS, current US$)', 293305195.5941176),
 ('DT.INT.OFFT.CD', 'PPG, official creditors (INT, current US$)', 297677338.95725805),
 ('DT.DIS.PRVT.CD', 'PPG, private creditors (DIS, current US$)', 311323264.69056594),
 ('DT.AMT.MLAT.CD', 'PPG, multilateral (AMT, current US$)', 490062193.49838716),
 ('DT.AMT.BLAT.CD', 'PPG, bilateral (AMT, current US$)', 712619634.6598358)]

### 7. The highest amount of principal repayments¶

In [48]:
%%sql
SELECT 
    country_name, 
    indicator_name
FROM international_debt
WHERE debt = (SELECT 
                 MAX(debt)
             FROM international_debt
             WHERE indicator_code ='DT.AMT.DLXF.CD');

 * mysql://shukur:***@localhost/datacamp
1 rows affected.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)')]

### 8. The most common debt indicator

In [49]:
%%sql
SELECT indicator_code, COUNT(*) AS indicator_count
FROM international_debt
GROUP BY indicator_code
ORDER BY indicator_count DESC
LIMIT 20;

 * mysql://shukur:***@localhost/datacamp
20 rows affected.

[('DT.INT.DLXF.CD', 124),
 ('DT.INT.OFFT.CD', 124),
 ('DT.AMT.DLXF.CD', 124),
 ('DT.AMT.MLAT.CD', 124),
 ('DT.INT.MLAT.CD', 124),
 ('DT.AMT.OFFT.CD', 124),
 ('DT.DIS.DLXF.CD', 123),
 ('DT.DIS.OFFT.CD', 122),
 ('DT.AMT.BLAT.CD', 122),
 ('DT.INT.BLAT.CD', 122),
 ('DT.DIS.MLAT.CD', 120),
 ('DT.DIS.BLAT.CD', 113),
 ('DT.AMT.PRVT.CD', 98),
 ('DT.INT.PRVT.CD', 98),
 ('DT.INT.PCBK.CD', 84),
 ('DT.AMT.PCBK.CD', 84),
 ('DT.INT.DPNG.CD', 79),
 ('DT.AMT.DPNG.CD', 79),
 ('DT.AMT.PBND.CD', 69),
 ('DT.INT.PBND.CD', 69)]

### 9. Other viable debt issues and conclusion

In [50]:
%%sql
SELECT country_name, MAX(debt) AS maximum_debt
FROM international_debt
GROUP BY country_name
ORDER BY maximum_debt DESC
LIMIT 10;

 * mysql://shukur:***@localhost/datacamp
10 rows affected.

[('China', 96218620835.7),
 ('Brazil', 90041840304.1),
 ('Russian Federation', 66589761833.5),
 ('Turkey', 51555031005.799995),
 ('South Asia', 48756295898.200005),
 ('Least developed countries: UN classification', 40160766261.6),
 ('IDA only', 34531188113.2),
 ('India', 31923507000.8),
 ('Indonesia', 30916112653.8),
 ('Kazakhstan', 27482093686.4)]